In [41]:
# INSTALANDO AS BIBLIOTECAS
!pip install pandas
!pip install numpy

Requirement already satisfied: pandas in c:\users\lucad\appdata\local\programs\python\python311\lib\site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\lucad\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\lucad\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in c:\users\lucad\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\lucad\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy in c:\users\lucad\appdata\local\programs\python\python311\lib\site-packages (1.23.5)

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [155]:
## importando bibliotecas necessarias
import pandas as pd
import numpy as np

In [156]:
# IMPORTANDO O ARQUIVO QUE SERA UTILIZADO NO PIPELINE
# NO ETL ESSA ETAPA E O "E" DE EXTRAÇÃO
coffee = pd.read_csv('data/coffee.csv', encoding='UTF-8')

# INICIANDO A ANALISE EXPLORATORIA (BÁSICA) DOS DADOS
coffee.head()

,Region,Place name,Place type,Rating,Reviews,Price,Delivery option,Dine in option,Takeout option
0,C,Dim Kavu,Others,4.6,206.0,$$,False,NaN,NaN
1,C,Коферум,Cafe,5.0,24.0,$$,False,NaN,True
2,C,Кофейня Світ Чаю,Coffee shop,5.0,11.0,$$,False,NaN,True
3,C,Кофейня Starcoff,Coffee shop,4.4,331.0,$$,False,True,True
4,C,"Кофейня ""Friend Zone""",Coffee shop,5.0,12.0,$$,False,True,True

In [157]:
coffee.shape

(200, 9)

In [158]:
coffee.describe()

           Rating       Reviews
count  198.000000    198.000000
mean     4.663636    622.494949
std      0.221648   1400.898666
min      3.900000      3.000000
25%      4.600000     47.500000
50%      4.700000    271.500000
75%      4.800000    786.250000
max      5.000000  17937.000000

In [159]:
coffee.isna().value_counts()

Region  Place name  Place type  Rating  Reviews  Price  Delivery option  Dine in option  Takeout option
False   False       False       False   False    False  False            False           False             120
                                                                         True            True               34
                                                                                         False              24
                                                                         False           True               20
                                True    True     False  False            True            True                2
dtype: int64

In [160]:
coffee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Region           200 non-null    object
 1   Place name       200 non-null    object
 2   Place type       200 non-null    object
 3   Rating           198 non-null    float64
 4   Reviews          198 non-null    float64
 5   Price            200 non-null    object
 6   Delivery option  200 non-null    bool
 7   Dine in option   140 non-null    object
 8   Takeout option   144 non-null    object
dtypes: bool(1), float64(2), object(6)
memory usage: 12.8+ KB

In [161]:
# PROCESSO DE TRANSFORMAÇÃO
# TROCANDO OS NA POR FALSE NAS COLUNAS BOOLEANAS
# Como nesssas colunas não existem False subentende-se que os 'nan' são False (COMO PEDE O EX)
coffeeDF = coffee #criando um novo dataframe para deixar o programa escalável
coffeeDF[['Dine in option',
          'Takeout option',
          'Delivery option']] = coffee[['Dine in option', 'Takeout option', 'Delivery option']].fillna(False)

In [162]:
# SUBSTITUNDO OS 'nan' DAS COLUNAS COM VARIAVEIS NÚMERICAS PELA MÉDIA
coffeeDF['Rating'] = coffeeDF['Rating'].fillna(coffeeDF['Rating'].mean())

In [163]:
coffeeDF

,Region,Place name,Place type,Rating,Reviews,Price,Delivery option,Dine in option,Takeout option
0,C,Dim Kavu,Others,4.6,206.0,$$,False,False,False
1,C,Коферум,Cafe,5.0,24.0,$$,False,False,True
2,C,Кофейня Світ Чаю,Coffee shop,5.0,11.0,$$,False,False,True
3,C,Кофейня Starcoff,Coffee shop,4.4,331.0,$$,False,True,True
4,C,"Кофейня ""Friend Zone""",Coffee shop,5.0,12.0,$$,False,True,True
...,...,...,...,...,...,...,...,...,...
195,H,Artist,Others,4.6,963.0,$$$,False,True,True
196,H,Dream Cafe,Cafe,4.3,646.0,$$,False,True,True
197,H,РУТА КАФЕ ПП КУЛІЧЕНКО К.І.,Cafe,4.6,16.0,$$,False,True,True
198,H,Ob'yektna Kava,Coffee shop,4.7,599.0,$$,False,True,True
199,H,О...МАРАТ КАФЕ ПП ПОЛІСТЕП,Cafe,4.3,341.0,$$,False,True,False

In [164]:
# REMOVENDO AS LINHAS ONDE AS REVIEWS SÃO NULAS COMO PEDE O EX
coffeeDF = coffeeDF[coffeeDF['Reviews'].notna()]

In [165]:
# VERIFICANDO SE O FILL MUDOU MUITO AS ESTATISTICAS
coffeeDF.head()

,Region,Place name,Place type,Rating,Reviews,Price,Delivery option,Dine in option,Takeout option
0,C,Dim Kavu,Others,4.6,206.0,$$,False,False,False
1,C,Коферум,Cafe,5.0,24.0,$$,False,False,True
2,C,Кофейня Світ Чаю,Coffee shop,5.0,11.0,$$,False,False,True
3,C,Кофейня Starcoff,Coffee shop,4.4,331.0,$$,False,True,True
4,C,"Кофейня ""Friend Zone""",Coffee shop,5.0,12.0,$$,False,True,True

In [166]:
coffeeDF.isna().value_counts()

Region  Place name  Place type  Rating  Reviews  Price  Delivery option  Dine in option  Takeout option
False   False       False       False   False    False  False            False           False             198
dtype: int64

In [167]:
coffeeDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 198 entries, 0 to 199
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Region           198 non-null    object
 1   Place name       198 non-null    object
 2   Place type       198 non-null    object
 3   Rating           198 non-null    float64
 4   Reviews          198 non-null    float64
 5   Price            198 non-null    object
 6   Delivery option  198 non-null    bool
 7   Dine in option   198 non-null    bool
 8   Takeout option   198 non-null    bool
dtypes: bool(3), float64(2), object(4)
memory usage: 11.4+ KB

In [169]:
# PARTE DO LOAD
# Como não iremos utilizar um BD para acessar os arquivos vou apenas salvar a file em .csv
coffeeDF.to_csv('data/coffe_etl.csv', index=False)

In [99]:
# FIM DO ETL
# PROXIMO PASSO - ANALISE